/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 75vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Exo 2', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

ul.nav {
	float: right;
	padding-top: calc(3.4% - 0.5em);
	padding-right: 5%;
	color: #0096FF;
}

ul.nav > li {
	display: inline-block;
	padding-left: 0.5em;
}

div#about {
	font-size: 1.5rem;
	font-weight: 100;
	margin: 2rem 0;
}

div#about li {
	display: inline-block;
	padding-right: 2em;
}

div#about i {
	padding-right: 0.5em;
}

div#contact {
	margin: 2rem 0;
}

a {
	text-decoration: none;
}

ul.nav a:visited {
	color: #0096FF
}

footer {
	font-size: 0.8em;
	color: #0096FF;
	padding-bottom: 1em;
	text-align: center;
}
